@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLander.cshtml";
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first mt-5 mt-md-0">
        <div class="ms-5">
            <h1 class="heroTitle">
                All your <span class="texthighlight">contacts</span> in
                one place
            </h1>
            <div class="subtitle">
                One drop at a time into your ocean!<br />
                Organize your events by keeping everyone in the loop. <br />Experience the power of Droplet
                demo it today!<br><br><strong>Built with pride using cutting edge tech:</strong>
                <br><br />
                <i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-css3-plain colored icon"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 pe-md-5 text-center">
        <img src="~/img/DropletLanding.png" class="img-fluid landing-img">
    </div>
</div>